<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FOS-Coffee</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <nav class="flush">
    <div class="nav-wrapper">
      <ul id="nav" class="row">
        <li><a class="logo-text valign-wrapper" style="height: 60px;" href="/">F<img id="logo" src="/assets/coffee-pot.png">S</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/favorites">Favorites</li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li id="cart-link"><a class="flush" style="height: 30px;" href="/checkout"><img id="cart" src="/assets/shopping-cart-icon.png"></a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

</body>
