<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FOS-Coffee</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <nav class="flush">
    <div class="nav-wrapper">
      <ul id="nav" class="row">
        <li><a class="flush" style="height: 60px;" href="/"><img id="logo" src="/assets/coffeePot.png"></a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/favorites">Favorites</li>
        <li><a href="/profile">profile</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/checkout">My Cart!</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

<!--
  <footer>
  <p>© 2021 Team Fortress of Solitude Coffee Shop. </p>
  <p>Published under the MIT license.</p>
</footer>
-->
</body>



</html>