<div>
    <form id="checkout">
        <label for="payment">Your payment amount:</label>
        <input type="number" id="payment" name="paymentamount"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>

<script src="/js/checkout.js"></script>