html {
    background-color: #2f455c;
    color: #fff;
}

footer {
    padding: 0 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background: darkslategrey;
    text-align: center;
}

.card {
    color: #2f455c;
    height: 330px;
    width: 300px;
    border-radius: 3%;
    padding: 1em;
    margin: 1em;
    float: left;
    font-weight: 500;
    align-items: center;
}

.center-align {
    display: block;
    margin: auto;
}

.add-cart {
    float: left;
}

.add-favorite {
    float: right;
}

.waves-effect {
    position: inherit;
    margin-bottom: 2em;
}

nav .row {
    margin-bottom: 0;
}

nav button {
    margin-left: 1em;
    padding: 4px;
}

.myButton {
    color: #2f455c;
    font-weight: bold;
    padding: 4px;
    margin: 0;
    width: 100px;
}

#logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.logo-text {
    font-size: 40px;
    color: #995836;
    font-weight: bold;
    letter-spacing: 5px;
    padding-right: 0;
}

#cart {
    width: 30px;
    height: 30px;
    margin-right: 1em;
    margin-bottom: -.5em;
}

#advert {
    height: calc(100vh - 64px);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/coffee-bean-trail-text.png);
}

#action {
    position: fixed;
    right: 15vw;
    bottom: 35vh;
}

@media only screen and (min-width: 867px) {
    #advert {
        background-size: cover;
    }
}

#cart-link {
    float: right;
}

.flush {
    margin: 0;
    padding: 0;
}

.bottom-space {
    margin-bottom: 1em;
}

h2 {
    margin: 0;
    padding: .25em;
    text-align: center;
    margin-bottom: .25em;
}

h4 {
    padding-top: 1em;
}

nav {
    background-color: darkslategrey;
    padding: .5em 1em;
    height: fit-content;
}

nav p {
    margin: 0 1em 0 0;
    font-weight: bold;
}

nav ul a {
    padding: 0 10px;
    font-weight: 500;
}

.marginTop {
    margin-top: 20px ;
}

.backgroundWhite {
    background-color: white;
    color: black;
}

.border-radius {
    border-radius: 1.25rem;
}

.marginTopSmall {
    margin-top: 10px !important;
}

#marginBottomSmall {
    margin-bottom: 40px !important;
}

.paddingBottomSmall {
    padding-bottom: 40px !important;
}

.wrapper {
    padding-bottom: 100px;
}